<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#41414C" />
    <link rel="shortcut icon" href="images/favicon.png" type="image/png" />
    <title>JobsCalc</title>

    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/partials/page-header.css" />
    <link rel="stylesheet" href="/styles/partials/cards.css" />
    <link rel="stylesheet" href="/styles/partials/buttons.css" />
    <link rel="stylesheet" href="/styles/partials/forms.css" />
    <link rel="stylesheet" href="/styles/partials/modal.css" />
    <link rel="stylesheet" href="/styles/partials/animations.css" />
    <link rel="stylesheet" href="/styles/partials/flash.css" />
    <link rel="stylesheet" href="/styles/pages/job.css" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <script type="module" src="/scripts/job-edit.js"></script>
    
  </head>
  <body id="page-job-edit">
    <script type="module">
      import Modal from '/scripts/modal.js';

      let addedWorkHours = 0;
      const freeHours = '<%- freeHours %>';
      const jobWorkHours = '<%- jobWorkHours %>';

      window.onload = () => {
        const dailyHoursElement = document.getElementById("dailyHoursOfWork")
        dailyHoursElement.addEventListener("input", () => {
          addedWorkHours = dailyHoursElement.value
        })
      }

      window.checkSubmit = function checkSubmit() {
        if (freeHours - (addedWorkHours - jobWorkHours) < 0) {
          const modal = Modal({ animateClasses: ['animate-pop', 'back'] }, '2')
          modal.open()

          return false
        } else {
          return true
        }
      }

      window.addJob = function addJob() {
        document.getElementById("form-job").submit()
      }
    </script>

    <%- include('parts/page-header', { title: 'Editar Job', previousPage: '' }) %>

    <%- include('parts/flash', { message }) %>

    <div class="container flex animate-up delay-2 margin">
        <form id="form-job" method="POST" onsubmit="return checkSubmit()">
          <fieldset>
            <legend>Dados do Job</legend>
            <div class="separator light"></div>

            <div class="input-wrapper">
              <label for="name">Nome do Job</label>
              <input 
                type="text" 
                id="name" 
                name="name"
                value="<%= job.name %>"
                required />
            </div>

            <div class="input-group">
              <div class="input-wrapper">
                <label for="dailyHoursOfWork">Quantas horas <br/>
                  por dia vai dedicar ao job?</label>
                <input 
                  type="number"
                  step="0.1" 
                  id="dailyHoursOfWork" 
                  name="dailyHoursOfWork"
                  value="<%= job.dailyHoursOfWork %>"
                  min="1"
                  max="24"
                  required />
              </div>

              <div class="input-wrapper">
                <label for="totalHoursOfWork">Estimativa de <br/>
                  horas para esse Job?</label>
                <input 
                  type="number"
                  id="totalHoursOfWork" 
                  name="totalHoursOfWork"
                  value=<%= job.totalHoursOfWork %>
                  min="1"
                  required />
              </div>
            </div>
          </fieldset>
    
        </form>
      </main>
      <aside class="card">
        <img src="/images/money-color.svg" alt="Imagem de Dinheiro">
        <p>
          O valor do projeto ficou em <strong>R$ <%= job.budget.toFixed(2).replace(".",",") %></strong>
        </p>
        <div class="button-group">
          <button 
            class="button green" 
            form="form-job" 
            type="submit" 
            title="Salvar Dados">Salvar</button>
          <a 
            href="#" 
            class="button gray open-modal"
            >
            <img 
              src="/images/trash-24.svg" 
              alt="Deletar job" 
              title="Deletar job">
          </a>
        </div>

        <form id="end-job-form" method="POST" action="/job/end/<%= job.id %>">
          <% if (job.status === 'progress') { %> 
            <button class="button red" form="end-job-form" type="submit">Finalizar job</button>
          <% } else { %> 
            <button class="button orange" form="end-job-form" type="submit">Recomeçar job</button>
          <% } %> 
        </form>
      </aside>
      
    </div>
    <!-- end container -->

    <div class="modal-wrapper">
      <div class="modal">
        <img src="/images/trash-48.svg" alt="Excluir Job" title="Excluir Job" />
        <h3>Excluir Job</h3>
        <p>Quer mesmo excluir esse job? <br/>
        Ele será apagado para sempre.  
        </p>
        <footer>
          <a 
            class="button gray" 
            href="#">Cancelar</a>
          <button
            class="button red"
            type="submit"
            form="delete-job">Excluir Job</button>
        </footer>
      </div>
      <form 
        method="post" 
        action="/job/delete/<%= job.id %>" 
        id="delete-job"></form>
    </div>
    <!-- end modal-wrapper -->

    <div class="modal-wrapper2">
      <div class="modal2">
        <img src="/images/alert-octagon-gray.svg" style="width: 48px;" alt="Adicionar Job" title="Adicionar Job" />
        <h3>Editar Job</h3>
        <p>Quer mesmo editar esse job? <br/>
        Você não terá horas livre no seu dia.  
        </p>
        <footer>
          <a 
            class="button gray" 
            href="#">Cancelar</a>
          <a
            class="button green"
            href="#"
            onclick="addJob()">Editar job</a>
        </footer>
      </div>
    </div>
    <!-- end modal-wrapper -->
  </body>
</html>
 